@model IEnumerable<pforum_frontend.Models.lppost>

@{
    ViewBag.Title = "yourlpposts";
}
<link href="~/styles/viewpost.css" rel="stylesheet" />
<section class="wrapper">
    <div class="container">

        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
                    <div class="card text-white card-has-bg click-col" style="background-image:url(/images/ipt8.jpg);">
                        <img class="card-img d-none" src="https://source.unsplash.com/600x900/?tech,street" alt="Goverment Lorem Ipsum Sit Amet Consectetur dipisi?">
                        <div class="card-img-overlay d-flex flex-column">
                            <div class="card-body">
                                <small class="card-meta mb-2">Lost Item</small>
                                <h4 class="card-title mt-0 "><a class="text-white" href="@Url.Action("comments","lostreport",item)">@Html.DisplayFor(modelItem => item.lostitem)</a></h4>
                                <small><i class="far fa-clock"></i>@Html.DisplayFor(modelItem => item.ptime)</small>
                            </div>
                            <div class="card-footer">
                                <div class="media">
                                    <img class="mr-3 rounded-circle" src="~/images/ipt3.png" alt="Generic placeholder image" style="max-width:50px">
                                    <div class="media-body">
                                        <h6 class="my-0 text-white d-block">@Html.DisplayFor(modelItem => item.username)</h6>
                                        <small>@Html.DisplayFor(modelItem => item.email)</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            }

        </div>




    </div>
</section>
